.test-border {
  border: 1px solid white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto !important;
  padding: 1rem;

  &__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;
  }
  .nav {
    .btn__nav {
      // @extend %btn;

      position: relative;
      width: auto;
      display: inline-block;
      background-color: none;
      padding: 0.66rem 1.25rem;
      font-size: 1.15rem;
      font-weight: 400;
      transition: all 0.2s;
      z-index: 11;
      margin-right: 0.66rem;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.4s ease-in;
        z-index: -1;
      }

      &:hover {
        background-color: none;
        color: black;
        transform: rotate(-2deg);
        &::before {
          transform: rotate(-2deg);
          background-color: $light-cyan;
          border-radius: 6px;
          z-index: -1;
          transition: all 0.5s;
        }
      }
    }
  }
}
