.container__heading {
  min-height: calc(100vh - 2 * 4vw);

  @include md {
  }
  @include lg {
  }
}

.heading__image {
  @include md {
    min-height: calc(100vh - 2 * 4vw);
  }
  min-height: 40vh;
  &--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--image {
    max-width: 80%;
    border: 1px solid rgba($ash-gray, 0.25);
    border-radius: 12px;
    @include md {
      max-width: 100%;
      border: none;
      border-radius: 0;
    }
  }
}

.heading__title {
  display: block;
  @include md {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  &--title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    @include md {
      font-size: clamp(1rem, 0.3312rem + 3.0573vw, 4rem);
      flex-shrink: 0;
      text-align: start;
      flex-wrap: nowrap;
      width: 100%;
    }
  }

  &--subtitle {
    // display: flex;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    @include md {
      font-size: clamp(0.8125rem, 0.3248rem + 2.2293vw, 3rem);
      margin-top: 1rem;
      flex-shrink: 0;
      font-weight: 300;
      text-align: start;
    }
  }
}
