.articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // @include md {
}

.showcase {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($light-cyan, 0.1);

  img {
    max-width: 100%;
    @include md {
      max-width: 100%;
    }
  }
  &__title {
    margin-top: 1rem;
    color: $light-cyan;
    // color: $light-cyan;
  }
}
